<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
</head>
<body>
  <div>
    <h1>{{pageTitle}}</h1>
    <p>Some text here</p>
    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </div>
</body>
</html>
